In [84]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [63]:
# Chicuadrada
def chiCuadrada(df):
    # create contingency table
    data_crosstab = pd.crosstab(df['Numero'],
                                df['Categoria'],
                            margins=True, margins_name="Total")

    # significance level
    alpha = 0.05

    # Calcualtion of Chisquare
    chi_square = 0
    rows = df['Numero'].unique()
    columns = df['Categoria'].unique()
    for i in columns:
        for j in rows:
            O = data_crosstab[i][j]
            E = data_crosstab[i]['Total'] * data_crosstab['Total'][j] / data_crosstab['Total']['Total']
            chi_square += (O-E)**2/E

    # The p-value approach
    print("Approach 1: The p-value approach to hypothesis testing in the decision rule")
    p_value = 1 - stats.chi2.cdf(chi_square, (len(rows)-1)*(len(columns)-1))
    conclusion = "Failed to reject the null hypothesis."
    if p_value <= alpha:
        conclusion = "Null Hypothesis is rejected."
            
    print("chisquare-score is:", chi_square, " and p value is:", p_value)
    print(conclusion)
        
    # The critical value approach
    print("\n--------------------------------------------------------------------------------------")
    print("Approach 2: The critical value approach to hypothesis testing in the decision rule")
    critical_value = stats.chi2.ppf(1-alpha, (len(rows)-1)*(len(columns)-1))
    conclusion = "Failed to reject the null hypothesis."
    if chi_square > critical_value:
        conclusion = "Null Hypothesis is rejected."
            
    print("chisquare-score is:", chi_square, " and critical value is:", critical_value)
    print(conclusion)

In [62]:
chiCuadrada(dfCongruencia)

Approach 1: The p-value approach to hypothesis testing in the decision rule
chisquare-score is: 600.0000000000002  and p value is: 0.0
Null Hypothesis is rejected.

--------------------------------------------------------------------------------------
Approach 2: The critical value approach to hypothesis testing in the decision rule
chisquare-score is: 600.0000000000002  and critical value is: 65.17076890356982
Null Hypothesis is rejected.

In [74]:
#Creamos una lista de categorizacion con la data
#Creamos tambien la frecuencia de el numero
def categorizacion(list_Numeros):
    list_categorizacion=[[]]
    c=0
    list_categorizacion = [['0',0],['1',0],['2',0],['3',0],['4',0],['5',0],['6',0],['7',0],['8',0],['9',0]]
    for l in list_Numeros:
        
        if(l>=0 and l <= 0.1):
            list_categorizacion[0][1] = list_categorizacion[0][1] + 1
            c = c +1
        if(l>0.1 and l <= 0.2):
            list_categorizacion[1][1] = list_categorizacion[1][1] + 1
            c = c +1
        if(l>0.2 and l <= 0.3):
            list_categorizacion[2][1] = list_categorizacion[2][1] + 1
            c = c +1
        if(l>0.3 and l <= 0.4):
            list_categorizacion[3][1] = list_categorizacion[3][1] + 1
            c = c +1
        if(l>0.4 and l <= 0.5):
            list_categorizacion[4][1] = list_categorizacion[4][1] + 1
            c = c +1
        if(l>0.5 and l <= 0.6):
            list_categorizacion[5][1] = list_categorizacion[5][1] + 1
            c = c +1
        if(l>0.6 and l <= 0.7):
            list_categorizacion[6][1] = list_categorizacion[6][1] + 1
            c = c +1
        if(l>0.7 and l <= 0.8):
            list_categorizacion[7][1] = list_categorizacion[7][1] + 1
            c = c +1
        if(l>0.8 and l <= 0.9):
            list_categorizacion[8][1] = list_categorizacion[8][1] + 1
            c = c +1
        if(l>0.9 and l <= 1):
            list_categorizacion[9][1] = list_categorizacion[9][1] + 1
            c = c +1
    return list_categorizacion

In [75]:
#CUADRADOS MEDIOS
semilla = "74731897457"
tam1 = len(semilla)
numero1 = int(semilla)
#Cantidad
cant = 100
#Lista
list_Cuadrados=[]
for i in range(cant):
	numero2 = numero1**2
	snumero2 = str(numero2)
	tam2 = len(snumero2)
	primerc = int((tam2 - tam1) / 2)
	snumero3 = snumero2[primerc:primerc+tam1]
	numero1 = int(snumero3)
	snumero3 = int(snumero3)/(10**tam1)
	list_Cuadrados.append(snumero3)

categorizacion_cuadrados = categorizacion(list_Cuadrados)

dfCuadrados = pd.DataFrame(categorizacion_cuadrados, columns=['Categoria', 'Frecuencia'])
dfCuadrados

  Categoria  Frecuencia
0         0           7
1         1          11
2         2           7
3         3           6
4         4           8
5         5          14
6         6          17
7         7          12
8         8           7
9         9          11

In [92]:
#CONGRUENCIA LINEAL
xo = int(7)
a = int(74731897457)
b = int(37747318974)
m = int(19)
iteraciones = int(100)
xn = xo
list_CongruenciaLineal = []
for i in range(iteraciones):
  xnn = (a*xn+b) % m
  ui = xnn/m
  xn = xnn
  list_CongruenciaLineal.append(ui)


categorizacion_congruencia = categorizacion(list_CongruenciaLineal)

dfCongruencia = pd.DataFrame(categorizacion_congruencia, columns=['Categoria', 'Frecuencia'])
dfCongruencia

  Categoria  Frecuencia
0         0          11
1         1          11
2         2           0
3         3          22
4         4           0
5         5           0
6         6          11
7         7          11
8         8          23
9         9          11

In [95]:
expected =  np.outer(dfCongruencia["Frecuencia"],
                     100) / 100
 
expected = pd.DataFrame(expected)
 
expected.columns = ["Categoria"]
expected.index =   ['0','1','2','3','4','5','6','7','8','9']
expected

   Categoria
0       11.0
1       11.0
2        0.0
3       22.0
4        0.0
5        0.0
6       11.0
7       11.0
8       23.0
9       11.0

In [97]:
chi_squared_stat = (((expected)**2)/expected).sum().sum()
print(chi_squared_stat)

100.0

In [80]:
chiCuadrada(dfCongruencia)

Approach 1: The p-value approach to hypothesis testing in the decision rule
chisquare-score is: 30.00000000000002  and p value is: 0.3141538334001005
Failed to reject the null hypothesis.

--------------------------------------------------------------------------------------
Approach 2: The critical value approach to hypothesis testing in the decision rule
chisquare-score is: 30.00000000000002  and critical value is: 40.113272069413625
Failed to reject the null hypothesis.

In [83]:

# Creation of data
data = [['CDU', 0.415, 57], ['SPD', 0.257, 26], ['Others', 0.328, 40]] 
df = pd.DataFrame(data, columns = ['Varname', 'prob_dist', 'observed_freq']) 
df['expected_freq'] = df['observed_freq'].sum() * df['prob_dist']

# significance level
alpha = 0.05

# Calcualtion of Chisquare
chi_square = 0
for i in range(len(df)):
    O = df.loc[i, 'observed_freq']
    E = df.loc[i, 'expected_freq']
    chi_square += (O-E)**2/E

# The p-value approach
print("Approach 1: The p-value approach to hypothesis testing in the decision rule")
p_value = 1 - stats.chi2.cdf(chi_square, df['Varname'].nunique() - 1)
conclusion = "Failed to reject the null hypothesis."
if p_value <= alpha:
    conclusion = "Null Hypothesis is rejected."
        
print("chisquare-score is:", chi_square, " and p value is:", p_value)
print(conclusion)
    
# The critical value approach
print("\n--------------------------------------------------------------------------------------")
print("Approach 2: The critical value approach to hypothesis testing in the decision rule")
critical_value = stats.chi2.ppf(1-alpha, df['Varname'].nunique() - 1)
conclusion = "Failed to reject the null hypothesis."
if chi_square > critical_value:
    conclusion = "Null Hypothesis is rejected."
        
print("chisquare-score is:", chi_square, " and critical value is:", critical_value)
print(conclusion)

Approach 1: The p-value approach to hypothesis testing in the decision rule
chisquare-score is: 1.693614940576721  and p value is: 0.42878164729702506
Failed to reject the null hypothesis.

--------------------------------------------------------------------------------------
Approach 2: The critical value approach to hypothesis testing in the decision rule
chisquare-score is: 1.693614940576721  and critical value is: 5.991464547107979
Failed to reject the null hypothesis.

In [81]:
# create sample data according to survey
def chiCuadrada(df):
    # create contingency table
    data_crosstab = pd.crosstab(df['Categoria'],
                                df['Frecuencia'],
                            margins=True, margins_name="Total")

    # significance level
    alpha = 0.05

    # Calcualtion of Chisquare
    chi_square = 0
    rows = df['Categoria'].unique()
    columns = df['Frecuencia'].unique()
    for i in columns:
        for j in rows:
            O = data_crosstab[i][j]
            E = data_crosstab[i]['Total'] * data_crosstab['Total'][j] / data_crosstab['Total']['Total']
            chi_square += (O-E)**2/E

    # The p-value approach
    print("Approach 1: The p-value approach to hypothesis testing in the decision rule")
    p_value = 1 - stats.chi2.cdf(chi_square, (len(rows)-1)*(len(columns)-1))
    conclusion = "Failed to reject the null hypothesis."
    if p_value <= alpha:
        conclusion = "Null Hypothesis is rejected."
            
    print("chisquare-score is:", chi_square, " and p value is:", p_value)
    print(conclusion)
        
    # The critical value approach
    print("\n--------------------------------------------------------------------------------------")
    print("Approach 2: The critical value approach to hypothesis testing in the decision rule")
    critical_value = stats.chi2.ppf(1-alpha, (len(rows)-1)*(len(columns)-1))
    conclusion = "Failed to reject the null hypothesis."
    if chi_square > critical_value:
        conclusion = "Null Hypothesis is rejected."
            
    print("chisquare-score is:", chi_square, " and critical value is:", critical_value)
    print(conclusion)